<!DOCTYPE html>
<html lang="en" class="bg-slate-700 text-color-white">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" href="/_assets/css/main.css">
    <title>
      {{ title }}
    </title>
  </head>

  <body class="container mx-auto">
    <nav class="flex justify-between">
      <h2>Garratt's Place</h2>
      <div>
        <a href="/">Home</a>
        <a href="/">Blog</a>
        <a href="/">About</a>
      </div>
    </nav>

    {{ content|safe }}
  </body>
</html>